<mat-card>
  <mat-card-header>
    <mat-card-title>Import TEI</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
    <fieldset>
      <form [formGroup]="form" (submit)="import()">
        <legend>group ID</legend>
        <div class="form-row">
          <mat-form-field>
            <mat-label>group ID</mat-label>
            <input matInput [formControl]="groupId" />
            <mat-error
              *ngIf="
                $any(groupId).errors?.required &&
                (groupId.dirty || groupId.touched)
              "
              >group ID required</mat-error
            >
            <mat-error
              *ngIf="
                $any(groupId).errors?.maxLength &&
                (groupId.dirty || groupId.touched)
              "
              >group ID too long</mat-error
            >
          </mat-form-field>
          <button
            type="submit"
            mat-flat-button
            color="primary"
            [disabled]="form.invalid"
          >
            import
          </button>
        </div>
      </form>
    </fieldset>
    <div id="result" *ngIf="addedCount">Imported items: {{addedCount}}.</div>
    <div id="xml">
      <ngx-monaco-editor
        [options]="editorOptions"
        [formControl]="xml"
      ></ngx-monaco-editor>
    </div>
  </mat-card-content>
</mat-card>
