.small-icon {
  font-size: 85% !important;
  margin-left: 8px;
}

.tb-fill-remaining-space {
  flex: 1 1 auto;
}

#gallery {
  border: 1px solid #fefefe;
  border-radius: 4px;
  padding: 2px;
  font-size: 70%;
  margin-right: 20px;
}

footer {
  background-color: #f0f0f0;
  color: #808080;
  padding: 4px;
  text-align: center;
}
